<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>SCHEMohome</title>
    {{!-- <link rel="stylesheet" href="smoothhai.css"> --}}
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <!-- head -->  



    <header class="text-gray-400 bg-gray-800 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
           <img src="/images/logo.png" alt="logo..." class="logo" height="75px", width="75px">
            
            <span class="ml-3 text-xl">SCHEMO</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center ">
            <a class="mr-5 hover:text-white">HOME</a>
            <a class="mr-5 hover:text-white">CONTACT</a>
            <a class="mr-5 hover:text-white" href="about">ABOUT</a>
            <a class="mr-5 hover:text-white">HELP</a>
          </nav>
          
            <a href="/">
          <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Log Out
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          </a>
        </div>
      </header>

      <!-- uppar ka selct wala -->
      
      
     
<!-- bbeechki -->
      
      <section class="text-gray-900  body-font">
        <div class="container px-5 py-24 mx-auto ">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Select What you want: </h1>
            <h3 class="lg:w-2/3 mx-auto leading-relaxed text-base ">SCHEMO allows you to have information on different topics,Here you can select the category in which you lie..</h3>
          </div>
        <div class="container px-5 py-17 mx-auto">
          <!-- kheeti -->
          <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            
              <img src="/images/farmer.png" alt="agri" class="farmer">
            
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-grsemibold text-gray-900 ">Agriculture</h2>
              <p class="leading-relaxed text-base text-grsemibold">Agriculture Infrastructure Fund,ATMA,AGMARKNET,Horticulture, Online Pesticide Registration ,e-Nam, Pradhan Mantri Fasal Bima Yojana ,Soil Health Card ,Jaivik Kheti ,mKisan ,Kisan Call Centre ,Pradhan Mantri Krishi  Sinchayee Yojana ,DBT in Agriculture etc .</p>
              <a href="agriculture" class="farmer">
              
              <button class="flex mx-auto mt-20 text-white bg-green-600 border-0 py-2 px-8 focus:outline-none hover:bg-green-700 rounded text-lg">Get Info</button>
              </a>
            </div>
          </div>
          <!-- baache -->
          <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
           
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-grsemibold text-gray-900">Student Scholarships & Exams</h2>
              <p class="leading-relaxed text-base text-grsemibold">Sitaram Jindal Scholarship,
                INSPIRE scholarship
                UGC Grant for Single Girl Child Scholarship,
                KC Mahindra Scholarship,
                Kind Circle Merit Scholarship,
                Atul Maheshwari Scholarship,
                FAEA Scholarship,
                Hamdard Educational Scholarship.</p>
              <a href="student" class="student">
              <button class="flex mx-auto mt-20 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Get Info</button>
              </a>
              
              
            </div>
            <img src="/images/student.png" alt="stud" class="student">

            
          </div>
          <!-- bissssssness -->
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <img src="/images/cartoon-business-png-favpng-Z8VNsK6vFktdSSWsmkyJA5aad-removebg-preview.png" alt="stud" class="=busst">
           
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-gray-900">Businesses & Startups</h2>
              <p class="leading-relaxed text-base text-gray-900">Pradhan Mantri Mudra Yojana (PMMY),
                Qualcomm Semiconductor Mentorship Program (QSMP),
                ATAL Innovation Mission,
                Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE),
                Single Point Registration Scheme,
                Modified Special Incentive Package Scheme (M-SIPS).</p>
              <button class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Get Info</button>
              
            </div>
            </div>

             <!-- firengi -->
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
              
             
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-gray-900">Study Abroad</h2>
                <p class="leading-relaxed text-base text-gray-900">Erasmus Mundus Joint Master Degrees, Fulbright Foreign Student Program,QS Leadership Scholarship,Westminster Full International Scholarship,Clarendon Scholarships at the University of Oxford etc.</p>
                <button class="flex mx-auto mt-20 text-white bg-blue-400 border-0 py-2 px-8 focus:outline-none hover:bg-blue-500 rounded text-lg">Get Info</button>
                
              </div>
              <img src="/images/aero.png" alt="stud" class="=busst">
            </div>
            
          
      </section>
      <!-- fott -->
      <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
              <img src="/images/logo.png" alt="logo..." class="logo" height="75px", width="75px">
               
               <span class="ml-3 text-xl">SCHEMO</span>
             </a>
            <p class="mt-5 text-large text-gray-500 ">One for All !!</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Main</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Home</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">About</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Contact</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Help</a>
                </li>
              </nav>
            </div>
            
            
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Agriculture</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Student</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Business</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Forgien Studies</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Help Us!</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Funds</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Donate</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Become Our partner</a>
                </li>
                
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-950 bg-opacity-75">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 SCHEMO
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
      
      
      
      

      




    
        
      </body>
      </html>