<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>SCHEMohome</title>
    <link rel="stylesheet" href="css/baki.css">
</head>
<body >
  <!-- head -->  




    <header class="text-gray-400 bg-gray-800 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
           <img src="/images/logo.png" alt="logo..." class="logo" height="75px", width="75px">
            
            <span class="ml-3 text-xl">SCHEMO</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center ">
            <a class="mr-5 hover:text-white" href="home">HOME</a>
            <a class="mr-5 hover:text-white">CONTACT</a>
            <a class="mr-5 hover:text-white" href="about">ABOUT</a>
            <a class="mr-5 hover:text-white">HELP</a>
          </nav>
          
            <a href="/">
          <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Log Out
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          </a>
        </div>
      </header>
      <section class="text-gray-600 body-font background-size-contain " style="background-image: url(studentbg.jpg); background-size:contain;">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 ">
            <div class="lg:w-1/3 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Student Sholarships</h1>
              <div class="h-2 w-24 bg-blue-400 rounded-t-lg"></div>
            </div>
            
          </div>
          <div class="flex flex-wrap -m-4 bg-">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-blue-100 p-6 rounded-lg ">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/kotak.jpg" alt="content">
                <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: 31-Jul-2023</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Kotak Junior Scholarship 2023-24</h2>
                <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹3,000 per month </h3>
                <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#kotak">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-blue-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/sethi.png" alt="content">
                <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: 31-Jul-2023</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">JM Sethia Merit Scholarship Scheme 2023</h2>
                <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹400 - ₹1,000 per month </h3>
                <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#sethi">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-blue-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/idfc.jpeg" alt="content">
                <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: 31-Jul-2023</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">IDFC FIRST Bank MBA Scholarship 2023-25</h2>
                <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹2,00,000 for two years</h3>
                <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#first">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-blue-100 p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/raman.jpeg" alt="content">
                <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline15-Sep-2023</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Raman Kant Munjal Scholarship 2023</h2>
                <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹40,000 - ₹5,00,000 per year </h3>
                <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#raman">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-blue-100 p-6 rounded-lg">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/furure.jpeg" alt="content">
                  <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: Always Open</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Education Future International Scholarship</h2>
                  <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹2 lakhs - ₹10 lakhs</h3>
                  <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#future">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                  
                </div>
              </div>
              <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-blue-100 p-6 rounded-lg">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/swami.jpeg" alt="content">
                  <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: Open in Nov 2023</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Swami Dayanand Education Foundation Merit-cum-Means Scholarship 2022-23</h2>
                  <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹50,000 per annum  </h3>
                  <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="#swami">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                 
                </div>
              </div>

              <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-blue-100 p-6 rounded-lg">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/yo.jpg" alt="content">
                  <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline: Always Open</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">National Law University (P39A) Internship Programme 2023</h2>
                  <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> ₹10,000 per month ,will be paid a stipend of ₹5,000 per month for the duration of the internship. </h3>
                  <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                 
                </div>
              </div>



              <div class="xl:w-1/4 md:w-1/2 p-4">
                <div class="bg-blue-100 p-6 rounded-lg">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/images/circle.png" alt="content">
                  <h3 class="tracking-widest text-red-400 text-xs font-medium title-font">OPEN</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font">Deadline31-Mar-2024</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Kind Circle Scholarship for Meritorious Students 2023-24</h2>
                  <h3 class="tracking-widest text-green-600 text-xs font-semibold title-font">AWARD:</h3>
                <h3 class="tracking-widest text-gray-700 text-xs font-medium title-font"> minimum  amount is ₹6000 </h3>
                  <div class="flex items-center flex-wrap">
                    <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="">Get Info
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    
                    
                  </div>
                 
                </div>
              </div>
          </div>
        </div>
      </section>
      
      <!-- articles -->
      <section class="text-gray-900 bg-gray-100 bg-opacity-50 py-5 my-5 body-font">
        <br>
        <div class="container flex flex-wrap px-5 py-10 mx-auto items-center">
          <div class="md:w-1/1 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-gray-900" id="kotak">Kotak Junior Scholarship 2023-24</h1>
            <br>
            
            <br>
            
            <ol type="I">
               
               <p class="font-small font-semibold ml-7">Eligibility</p>
               
               <ul type="circle">
                <li class="ml-7">I. Applicants must have secured above 85% marks in Class 10 board examination (SSC/CBSE/ICSE) in 2023.</li>
              <li class="ml-7"> II. Applicant’s annual family income must be Rs. 3,20,000/- or less.</li>
                           
              <li class="ml-7">III. Applicants must have secured admission in Class 11 at junior colleges/schools in Mumbai for Arts, Commerce and Science Streams, in Mumbai Metropolitan Region* for academic year 2023-24.</li>
              <li class="ml-7">IV. Children of employees of Kotak Education Foundation and Buddy4Study are not eligible to apply for Kotak Junior Scholarship.</li>
             
              
            </ol>
            <p class="font-small font-semibold ml-7">AWARDS</p>
            <li class="ml-7"> Scholarship of INR 3,000 per month </li>

            <br>
            <ol type="I">
              
              <p class="font-small font-semibold ml-7">DOCUMENTS</p>
              <ul type="circle">
               <li class="ml-7">I. Income certificate from collector’s office (Either Maharashtra or Indian Govt.) (mandatory) </li>
             <li class="ml-7"> II.  Recent passport-size photograph (mandatory)</li> 
                          
             <li class="ml-7">III. PAN card of at least one earning parent/guardian </li>
             <li class="ml-7">IV.  SSC (Class 10) marksheet - e-copy allowed (mandatory)</li>
             <li class="ml-7">V. School leaving certificate</li>
             <li class="ml-7">VI. If income tax is paid or an IT return is filed by any family member, then the latest copy of the IT return along with 26AS</li>
             <li class="ml-7">VII. Student’s bank account (bank statement or first page of bank passbook)</li>
              
         
             
             
           </ol>
           <br>
           
       <br>
       <p class="font-small font-semibold ml-7">How To Apply?</p>
       <p>Go to the link and fill the form following the instructions.</p>
       <a href="https://kotakeducation.org/kotak-junior-scholarship/" target="_blank" class="text-blue-500">Fill The Form</a>

       <!-- 2ndlist -->

            
          </div>
          </div>
          
          <!-- article -->
          
      </section>
      <section class="text-gray-900 bg-gray-100 bg-opacity-50 py-5 my-5 body-font">
        <div class="container flex flex-wrap px-5 py-10 mx-auto items-center">
          <div class="md:w-1/1 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-gray-900" id="sethi">  JM Sethia Merit Scholarship Scheme 2023
            </h1>
            <br>
            
            
            <br>
            <ol type="I">
              
               <p class="font-small font-semibold ml-7">Eligibility</p>
               <ul type="circle">
                <li class="ml-7">I. Be enrolled for a full-time course in one of the following:
                </li>
                           <li class="ml-9">• Class 9-10 (Category A)</li> 
                           <li class="ml-9">• Class 11-12 (Category B)</li> 
                           <li class="ml-9">• Graduation course (Category C)</li> 
                           <li class="ml-9">• Postgraduation course (Category D)</li> 
                           <li class="ml-9">•Professional course (Category P)</li> 
            <li class="ml-7">II. have passed the following examination with the respective aggregate scores: 
                        </li> 
                        <li class="ml-9">• Class 8 or equivalent with a 75% aggregate score (Category A)</li>          
                        <li class="ml-9">• Class 10 or equivalent with a 75% aggregate score (Category B)</li>          
                        <li class="ml-9">• Class 12 or equivalent with a 75% aggregate score in Science & Commerce; 65% in Humanities/Arts (Category C)</li>          
                        <li class="ml-9">• Graduation degree with a 60% aggregate in Science & Commerce; 50% aggregate in Humanities/Arts (Category D)</li>          
                        <li class="ml-9">• Class 12/Graduation degree with a 60% aggregate in Science & Commerce; 50% aggregate in Humanities/Arts (Category P)</li> 
                        <br>  
             
        <p class="font-small font-semibold ml-7">AWARD</p>   
                        <li class="ml-9">• Category A - INR 400 per month for two years</li>          
                        <li class="ml-9">• Category B- INR 500 per month for two years</li>          
                        <li class="ml-9">• Category C - INR 600 per month for two or three years as applicable</li>          
                        <li class="ml-9">• Category D - INR 700 per month for two or three years as applicable</li>          
                        <li class="ml-9">•  Category P- INR 1,000 per month for two or three years as applicable  </li>  
                           
        <p class="font-small font-semibold ml-7">DOCUMENTS</p>
                        <li class="ml-9">◦ Copy of income proof </li>                      
                        <li class="ml-9">◦  Copy of certificate proving reservation (if any reservation is applicable)</li>                      
                        <li class="ml-9">◦ Copy of marksheet for the last examination passed </li>                      
                         
                                        
                           
              
                                
              
              
            </ol>
            <br>
            <p class="font-small font-semibold ml-7">How To Apply?</p>
       <p>Go to the link and fill the form following the instructions.</p>
       <a href="https://jmstrust.com/enrolment/" target="_blank" class="text-blue-500">Fill The Form</a>
       
                        
      
            
            
       <!-- 2ndlist -->

            
          </div>
          </div>
          
          
      </section>
     

      <section class="text-gray-900 bg-gray-100 bg-opacity-50 py-5 my-5 body-font">
        <br>
        <div class="container flex flex-wrap px-5 py-10 mx-auto items-center">
          <div class="md:w-1/1 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-gray-900" id="first">  IDFC FIRST Bank MBA Scholarship 2023-25
            </h1>
            <br>
            
            
            <br>
            <ol type="I">
              
               <p class="font-small font-semibold ml-7">Eligibility</p>
               <ul type="circle">
                
                           <li class="ml-9">•Open for Indian Nationals, residing in India only.</li> 
                           <li class="ml-9">• Students enrolled in first year of a 2-year full-time MBA program or its equivalent for the class of 2023 are eligible.</li> 
                           <li class="ml-9">• Applicants should be enrolled in any of the MBA colleges mentioned in the attached list.</li> 
                           <li class="ml-9">• The gross annual family income of the applicants from all sources should be less than or equal to INR 6 lakh.</li> 
                           <li class="ml-9">• Candidates should be no more than 35 years of age on the date of application.</li> 
                           <li class="ml-9">• The applicant must have a valid mobile number linked to Aadhaar card.</li> 
                    
            
                        <br>  
             
        <p class="font-small font-semibold ml-7">AWARD</p>   
                        <li class="ml-9">The selected MBA students will be awarded a scholarship sum of INR 2,00,000 for two years of full-time MBA studies (INR 1 lakh per annum subject to T&C*). </li>          
                        
                           
        <p class="font-small font-semibold ml-7">DOCUMENTS</p>
                        <li class="ml-9">• Admission related documents </li>
                            <li class="ml-11">◦ Admission Proof (With name of institution, admission year and batch) </li>
                            <li class="ml-11">◦ Copy of Fee Receipt </li>                    
                        <li class="ml-9">•  Copy of Graduation marksheet/passing certificate</li>                      
                        <li class="ml-9">• Copy of marksheet for the last examination passed </li> 
                        <li class="ml-9">• Income Proof (any one) </li> 
                                 <li class="ml-11">◦ Income Certificate issued by relevant government authority (Tehsildar or Magistrate)</li>
                                 <li class="ml-11">◦ Admission Proof (With name of institution, admission year and batch) </li>
                                 <li class="ml-11">◦ Copy of Salary Slip </li>
                        <li class="ml-9">• Other Documents (If applicable)</li> 
                                <li class="ml-11">◦ Disability certificate</li>
                                <li class="ml-11">◦ Sanctioned loan letter</li>
                                <li class="ml-11">◦ Death certificate, if there is a death of the sole earning member of the immediate family </li>
                                <li class="ml-11">◦ Document of any other scholarships received for pursuing MBA</li>
                          
                        
                                      
                         
                                        
                           
              
                                
              
              
            </ol>
            <br>
            <p class="font-small font-semibold ml-7">How To Apply?</p>
       <p>Go to the link and fill the form following the instructions.</p>
       <a href="https://www.idfcfirstbank.com/csr-activities/educational-initiatives/mba-scholarship" target="_blank" class="text-blue-500">Fill The Form</a>
       
                        
      
            
            
       <!-- 2ndlist -->

            
          </div>
          </div>
          
          
      </section>
      <section class="text-gray-900 bg-gray-100 bg-opacity-50 py-5 my-5 body-font">
        <br>
        <div class="container flex flex-wrap px-5 py-10 mx-auto items-center">
          <div class="md:w-1/1 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-gray-900" id="future">  Education Future International Scholarship
            </h1>
            <br>
            
            
            <br>
            <ol type="I">
              
               <p class="font-small font-semibold ml-7">Eligibility</p>
               <ul type="circle">
                
                           <li class="ml-9">• Be an Indian national with a valid Indian passport</li> 
                           <li class="ml-9">• Be pursuing an undergraduate/postgraduate course overseas at a recognized university/college outside India</li> 
                           <li class="ml-9">• Have secured a minimum of 60% marks in Class 10 and 12</li> 
                           <li class="ml-9">•  The scholarship is open for all subjects of study.</li> 
                           
                    
            
                        <br>  
                        
        <p class="font-small font-semibold ml-7">AWARD</p>   
                        <li class="ml-9">The selected candidates will receive a scholarship ranging between INR 2 lakhs to INR 10 lakhs. </li>          
                        
                           
        <p class="font-small font-semibold ml-7">DOCUMENTS</p>
                        <li class="ml-9">• Statement of Purpose </li>
                            
                          
                        
                                      
                         
                                        
                           
              
                                
              
              
            
            <br>
            <p class="font-small font-semibold ml-7">How To Apply?</p>
       <p>Go to the link and fill the form following the instructions.</p>
       <a href="https://www.education-future.org/" target="_blank" class="text-blue-500">Fill The Form</a>
       
                        
      
            
            
      

            
          </div>
          </div>
          
          
      </section>

      <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
              <img src="/images/logo.png" alt="logo..." class="logo" height="75px", width="75px">
               
               <span class="ml-3 text-xl">SCHEMO</span>
             </a>
            <p class="mt-5 text-large text-gray-500 ">One for All !!</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Main</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Home</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">About</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Contact</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Help</a>
                </li>
              </nav>
            </div>
            
            
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Agriculture</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Student</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Business</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Forgien Studies</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Help Us!</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Funds</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Donate</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Become Our partner</a>
                </li>
                
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-gray-950 bg-opacity-75">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 SCHEMO
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
      

      
      </body>
      </html>
