<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>SCHEMohome</title>
    <link rel="stylesheet" href="/css/baki.css">
</head>
<body class="cc">
  <!-- head -->  




    <header class="text-gray-400 bg-gray-800 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
           <img src="/images/logo.png" alt="logo..." class="logo" height="75px", width="75px">
            
            <span class="ml-3 text-xl">SCHEMO</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center ">
            <a class="mr-5 hover:text-white" href="home">HOME</a>
            <a class="mr-5 hover:text-white">CONTACT</a>
            <a class="mr-5 hover:text-white" href="about">ABOUT</a>
            <a class="mr-5 hover:text-white">HELP</a>
          </nav>
          
            <a href="/">
          <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Log Out
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          </a>
        </div>
      </header>
      <section class="text-gray-600  body-font">
        <div class="container px-20 py-24 mx-auto flex flex-wrap">
          
          <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            
<h3 class="mb-4 font-semibold text-gray-900 dark:text-gray-900">EDUCATION</h3>
<ul class="w-80 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input id="list-radio-license" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="list-radio-license" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">  10th Grade </label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input id="list-radio-id" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="list-radio-id" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">12th Grade </label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input id="list-radio-millitary" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="list-radio-millitary" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Under Graduation</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input id="list-radio-passport" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="list-radio-passport" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Masters</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input id="list-radio-passport" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="list-radio-passport" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Research(Ph.d)</label>
        </div>
    </li>
</ul>
<br>
<br>
<!-- sex -->
<h3 class="mb-4 font-semibold text-gray-900 dark:text-gray-900">GENDER</h3>

<div class="flex space-x-10">         
    <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 dark:bg-gray-700 rounded-lg w-80 mb-0">
        <input id="bordered-radio-1" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 mb-0">
        <label for="bordered-radio-1" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 " >Male</label>
    </div>
    <br>
    <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 dark:bg-gray-700  rounded-lg  w-80 mt-0">
        <input checked id="bordered-radio-2" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 mt-0">
        <label for="bordered-radio-2" class="w-45px py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 ">Female</label>
    </div>
</div> 
<!-- States -->


<br>
<br>
<label for="countries" class="mb-4 font-semibold text-gray-900 dark:text-gray-900">Select Your State</label>
<select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block h-50 w-49 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-80">
  <option selected>Choose a State</option>
  <option value="US">Andhra Pradesh</option>
  <option value="CA">Arunachal Pradesh</option>     	
	
  <option value="FR">Assam</option>
  <option value="DE">Bihar</option>
  <option value="DE">Chhattisgarh</option>
  <option value="DE">Goa</option>
  <option value="DE">Gujarat</option>
  <option value="DE">Haryana</option>
  <option value="DE">Himachal Pradesh</option>
  <option value="DE">Jharkhand</option>
  <option value="DE">Karnataka</option>
  <option value="DE">Kerala</option>
  <option value="DE">Madhya Pradesh</option>
  <option value="DE">Maharashtra</option>
  <option value="DE">Manipur</option>
  <option value="DE">Meghalaya</option>
  <option value="DE">Mizoram</option>
  <option value="DE">Nagaland</option>
  <option value="DE">Odisha</option>
  <option value="DE">Punjab</option>
  <option value="DE">Rajasthan</option>
  <option value="DE">Sikkim</option>
  <option value="DE">Tamil Nadu</option>
  <option value="DE">Telangana</option>
  <option value="DE">Tripura</option>
  <option value="DE">Uttar Pradesh</option>
  <option value="DE">Uttarakhand</option>
  <option value="DE">West Bengal</option>
  
</select> 
<br>
<a href="student2" class="login">
    <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg  rounded-full mr-px" >Submit</button>
    </a> 
</div>
 
          </div>
         
        </div>
      </section>
      

     
        
      </body>
      </html>